.btn {
  @include headings-font();
  @include transition();
  background: $color__primary5;
  color: rgba(255, 255, 255, 0.9);
  border: 0.2rem solid transparent;
  border-radius: 1em;
  display: inline-block;
  padding: 0.5em 1em;
  position: relative;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 1.6rem;
  outline: none;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  text-transform: capitalize;

  &:hover {
    background: $color__primary4;
    transform: translateY(-1px);
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  }

  &:active {
    top: 1px;
    background: $color__primary6;
  }

  &:focus {
    border: 0.2rem solid #fff;
    box-shadow: 0 0 0 0.4rem rgba($color__primary3, 0.4);
  }
}
