.investments {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  border-bottom: 1px solid $colour-grey-200;
  padding-bottom: 2rem;
}

.investments__avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.investments__name {
  flex: 1;
  margin-bottom: 0;
  margin-right: 3rem;
  font-size: 2.3rem;
  color: $colour-primary-500;
}

.investments__total {
  @include headings-font();
  color: $colour-grey-600;
}

.investment {
  background-image: linear-gradient(45deg, $colour-grey-100, rgba($colour-grey-100, 0.4));
  padding: 2rem;
  border: 1px solid $colour-grey-200;
  border-radius: 1rem;
  margin-bottom: 2rem;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(even) {
    background-image: linear-gradient(45deg, rgba($colour-grey-100, 0.4), $colour-grey-100);
  }
}

.investment p:last-of-type {
  margin-bottom: 0;
}

.investment--none {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: $colour-grey-600;
}

.investment__bond-name {
  font-size: 1.8rem;
  color: $colour-grey-600;
}

button.investment__cancel-btn {
  font-size: 1.2rem;
  padding: 0.2em 0.5em;
  background-color: $colour-red-400;
  margin-top: 1.5rem;

  &:hover {
    background-color: $colour-red-300;
  }
}
