.simple-bonds-logo {
  margin: 1rem auto 3rem;
  max-width: 300px;

  @media (min-width: 34.375em) {
    margin: 1rem 0 3rem;
  }
}

.logo-graph-arrow {
  stroke: $color__accent2-d;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  fill: $color__accent2-d;

  .home & {
    animation: dash-animation-arrow 1.5s 2.5s linear both;
  }
}

.logo-graph-bar1,
.logo-graph-bar2,
.logo-graph-bar3 {
  stroke: $color__primary3;
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  fill: $color__primary3;

  .home & {
    animation: dash-animation-bars-text 1.5s 1s linear both;
  }
}

.logo-text path {
  stroke: $color__primary3;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  fill: $color__primary3;

  .home & {
    animation: dash-animation-bars-text 1.5s 1s linear both;
  }
}
