/* Main Navigation */
.menu {
  margin-bottom: 1.5rem;
}

.menu__items {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (min-width: 25em) {
    flex-direction: row;
  }

  @media (min-width: 34.375em) {
    justify-content: flex-start;
  }
}

.menu__item {
  list-style: none;
  margin-bottom: 1rem;
  // flex: 1;
  text-align: center;

  @media (min-width: 25em) {
    margin-bottom: 0;
    margin-right: 1.5rem;
  }

  @media (min-width: 25em) {
    flex: 0;
  }

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.menu__link {
  @include headings-font();
  @include transition();
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 2.5rem;
  color: $colour-grey-700;
  text-decoration: none;
  border-radius: 3rem;
  border: 0.2rem solid $colour-grey-400;
  outline: none;

  svg {
    @include transition(fill);
    width: 1.5em;
    margin-right: 0.7em;
    fill: $colour-grey-500;
  }
}

.menu__link:hover:not(.menu__link--current) {
  color: $colour-grey-700;
  border: 0.2rem solid $colour-grey-500;

  svg {
    fill: $colour-grey-600;
  }
}

.menu__link:focus:not(.menu__link--current) {
  color: $colour-grey-700;
  @include focus-styles();

  svg {
    fill: $colour-grey-600;
  }
}

.menu__link--current {
  color: $colour-primary-600;
  background-color: #fff;
  cursor: default;
  filter: drop-shadow(0 0.2rem 1.2rem rgba(0, 0, 0, 0.1));
  border: 0.2rem solid #fff;

  svg {
    fill: $colour-primary-300;
  }
}

.menu__link--current:hover {
  color: $colour-primary-600;
}

.menu__link--current:focus {
  @include focus-styles();
  color: $colour-primary-600;
}

.menu__link--bonds svg {
  max-width: 1.3em;
}
