@keyframes dash-animation-arrow {
  0% {
    fill: transparent;
    stroke-width: 2px;
    stroke: $colour-grey-500;
  }

  70% {
    fill: transparent;
    stroke-dashoffset: 0;
    stroke: $colour-grey-500;
    stroke-width: 2px;
  }

  100% {
    fill: $colour-green-400;
    stroke-dashoffset: 0;
    stroke-width: 0;
  }
}

@keyframes dash-animation-bars-text {
  0% {
    fill: transparent;
    stroke-width: 2px;
    stroke: $colour-grey-500;
  }

  70% {
    fill: transparent;
    stroke-dashoffset: 0;
    stroke: $colour-grey-500;
    stroke-width: 2px;
  }

  100% {
    fill: $colour-primary-500;
    stroke-dashoffset: 0;
    stroke-width: 0;
  }
}
