h1,
h2,
h3,
h4,
h5,
h6 {
  @include headings-font();
  margin-bottom: 2rem;
}

h1 {
  font-size: 3.4rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

h2 {
  font-size: 3.1rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}

h3 {
  font-size: 2.7rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}

h5 {
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}

h6 {
  font-size: 1.7rem;
  line-height: 1.6;
  letter-spacing: 0;
}

p {
  margin: 0 0 1.5em;
}
