// Colours
$colour-primary-100: hsl(206, 100%, 97%);
$colour-primary-200: hsl(206, 75%, 81%);
$colour-primary-300: hsl(207, 57%, 61%);
$colour-primary-400: hsl(207, 61%, 49%);
$colour-primary-500: hsl(207, 63%, 38%);
$colour-primary-600: hsl(207, 61%, 27%);
$colour-primary-700: hsl(206, 44%, 23%);

$colour-grey-100: hsl(210, 17%, 95%);
$colour-grey-200: hsl(204, 13%, 92%);
$colour-grey-300: hsl(210, 14%, 89%);
$colour-grey-400: hsl(213, 13%, 83%);
$colour-grey-500: hsl(210, 11%, 71%);
$colour-grey-600: hsl(208, 7%, 55%);
$colour-grey-700: hsl(208, 8%, 41%);
$colour-grey-800: hsl(208, 8%, 31%);
$colour-grey-900: hsl(210, 10%, 23%);

$colour-green-100: hsl(144, 81%, 94%);
$colour-green-200: hsl(143, 67%, 80%);
$colour-green-300: hsl(147, 57%, 66%);
$colour-green-400: hsl(146, 52%, 50%);
$colour-green-500: hsl(147, 59%, 39%);
$colour-green-600: hsl(147, 62%, 29%);
$colour-green-700: hsl(156, 58%, 20%);

$colour-yellow-100: hsl(42, 100%, 98%);
$colour-yellow-200: hsl(43, 90%, 92%);
$colour-yellow-300: hsl(43, 90%, 81%);
$colour-yellow-400: hsl(41, 86%, 69%);
$colour-yellow-500: hsl(43, 55%, 54%);
$colour-yellow-600: hsl(41, 55%, 35%);
$colour-yellow-700: hsl(42, 56%, 23%);

$colour-red-100: hsl(0, 77%, 95%);
$colour-red-200: hsl(0, 79%, 82%);
$colour-red-300: hsl(359, 69%, 64%);
$colour-red-400: hsl(358, 70%, 53%);
$colour-red-500: hsl(358, 68%, 43%);
$colour-red-600: hsl(358, 65%, 32%);
$colour-red-700: hsl(358, 59%, 24%);
