// Colours
$color__primary1: hsl(206, 44%, 23%);
$color__primary2: hsl(207, 61%, 27%);
$color__primary3: hsl(207, 63%, 38%);
$color__primary4: hsl(207, 61%, 49%);
$color__primary5: hsl(207, 57%, 61%);
$color__primary6: hsl(206, 75%, 81%);
$color__primary7: hsl(206, 100%, 97%);

$color__grey1: hsl(210, 17%, 95%);
$color__grey2: hsl(204, 13%, 92%);
$color__grey3: hsl(210, 14%, 89%);
$color__grey4: hsl(213, 13%, 83%);
$color__grey5: hsl(210, 11%, 71%);
$color__grey6: hsl(208, 7%, 55%);
$color__grey7: hsl(208, 8%, 41%);
$color__grey8: hsl(208, 8%, 31%);
$color__grey9: hsl(210, 10%, 23%);

$color__accent1-a: hsl(179, 57%, 17%);
$color__accent1-b: hsl(174, 55%, 25%);
$color__accent1-c: hsl(174, 53%, 37%);
$color__accent1-d: hsl(174, 47%, 46%);
$color__accent1-e: hsl(178, 56%, 64%);
$color__accent1-f: hsl(177, 67%, 80%);
$color__accent1-g: hsl(178, 100%, 95%);

$color__accent2-a: hsl(156, 58%, 20%);
$color__accent2-b: hsl(147, 62%, 29%);
$color__accent2-c: hsl(147, 59%, 39%);
$color__accent2-d: hsl(146, 52%, 50%);
$color__accent2-e: hsl(147, 57%, 66%);
$color__accent2-f: hsl(143, 67%, 80%);
$color__accent2-g: hsl(144, 81%, 94%);

$color__accent3-a: hsl(42, 56%, 23%);
$color__accent3-b: hsl(41, 55%, 35%);
$color__accent3-c: hsl(43, 55%, 54%);
$color__accent3-d: hsl(41, 86%, 69%);
$color__accent3-e: hsl(43, 90%, 81%);
$color__accent3-f: hsl(43, 90%, 92%);
$color__accent3-g: hsl(42, 100%, 98%);

$color__accent4-a: hsl(358, 59%, 24%);
$color__accent4-b: hsl(358, 65%, 32%);
$color__accent4-c: hsl(358, 68%, 43%);
$color__accent4-d: hsl(358, 70%, 53%);
$color__accent4-e: hsl(359, 69%, 64%);
$color__accent4-f: hsl(0, 79%, 82%);
$color__accent4-g: hsl(0, 77%, 95%);
