@keyframes dash-animation {
  0% {
    fill: transparent;
    stroke: $color__grey5;
  }
  80% {
    fill: transparent;
    stroke-dashoffset: 0;
    stroke: $color__grey5;
    stroke-width: 2px;

  }
  100% {
    fill: $color__accent2-d;
    stroke-dashoffset: 0;
    stroke-width: 0;
  }
}