.btn {
  @include headings-font();
  @include transition();
  border: 2px solid $color__grey4;
  border-radius: 0.5em;
  display: inline-block;
  padding: 0.1em 0.8em;
  position: relative;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 1.8rem;
  outline: none;

  &:visited {
    color: red;
  }

  &:focus,
  &:hover,
  &:active {
    border: 2px solid $color__primary5;
    transform: translateY(-2px);
  }

  &:active {
    top: 1px;
  }
}