input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  @include transition();
  font-weight: bold;
  border: 2px solid $color__grey4;
  padding: 0.7em 0.8em;
  background-color: #fff;
  -webkit-appearance: none;
  border-radius: 0.5em;
  width: 100%;
  outline: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  border: 2px solid $color__primary5;
  box-shadow: 0 0 0 0.4rem rgba($color__primary5, 0.4);
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  @extend .btn;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
  border: none;
  box-shadow: none;
}

label {
  display: inline-block;
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: $color__grey6;
}

select {
  @include transition();
  // font-size: 16px;
  font-weight: bold;
  line-height: 1.3;
  padding: 0.6em 2em 0.6em 0.8em;
  max-width: 100%;
  margin: 0 0 3rem 1em;
  border: 2px solid $color__grey4;
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%;
  background-size: 0.65em auto, 100%;
  outline: none;
}

select::-ms-expand {
  display: none;
}

select:hover {
  border-color: $color__primary5;
}

select option {
  font-weight: normal;
}

.investment-form {
  margin-bottom: 5rem;
  background: url("../images/investing2.svg") no-repeat right center / contain;
}

.invest-amount-wrapper {
  @include transition();
  display: flex;
  align-items: center;
  background-color: #fff;
  max-width: 35ch;
  border-radius: 0.5em;
  border: 2px solid $color__grey4;
}

.invest-amount-wrapper:hover {
  border-color: $color__primary5;
}

.invest-amount-wrapper--focus {
  border-color: $color__primary5;
  box-shadow: 0 0 0 0.4rem rgba($color__primary5, 0.4);

  .invest-amount-symbol {
    color: $color__primary5;
  }
}

.invest-amount-symbol {
  @include headings-font();
  @include transition();
  font-size: 2rem;
  padding-left: 0.7em;
  color: $color__grey6;
}

input.invest-amount {
  border: 2px solid transparent;
  box-shadow: none;
}
