.menu {
  background: $color__primary3;
  margin-bottom: 1rem;
}

.menu__items {
  display: flex;
}

.menu__item {
  list-style: none;

  &--current {
    background-color: #fff;
  }
}

.menu__link {
  @include headings-font();
  @include transition();
  display: flex;
  align-items: center;
  padding: 1.5rem 3rem;
  color: rgba(255, 255, 255, 0.8);

  &:focus,
  &:hover {
    background-color: $color__primary2;
    color: #fff;
  }

  svg {
    width: 100%;
    max-width: 1.5em;
    margin-right: 0.7em;
    fill: rgba(255, 255, 255, 0.5);
  }
}

.menu__item--current .menu__link {
  color: $color__primary2;
  background-color: #fff;
  cursor: default;

  svg {
    fill: $color__primary5;
  }
}
