body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
  background-image: linear-gradient(to bottom, $color__grey2 40%, rgba(255, 255, 255, 0.7) 90%);
  padding: 2rem;
  overflow-y: scroll;
}

.wrapper {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
}

.simple-bonds-logo {
  margin-top: 1rem;
  margin-bottom: 3rem;
  max-width: 300px;
}

.logo-graph-arrow {
  stroke: $color__accent2-d;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  fill: $color__accent2-d;

  .home & {
    animation: dash-animation-arrow 1.5s 2.5s linear both;
  }
}

.logo-graph-bar1,
.logo-graph-bar2,
.logo-graph-bar3 {
  stroke: $color__primary3;
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  fill: $color__primary3;

  .home & {
    animation: dash-animation-bars-text 1.5s 1s linear both;
  }
}

.logo-text path {
  stroke: $color__primary3;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  fill: $color__primary3;

  .home & {
    animation: dash-animation-bars-text 1.5s 1s linear both;
  }
}

.content {
  background-image: linear-gradient(to bottom, #fff 50%, rgba(255, 255, 255, 0.5));
  padding: 3rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.1);
  border-radius: 2.2rem;
}

.bonds-container {
  @include transition($prop: "margin-top");
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

.bond {
  @include transition();
  // padding: 0 2rem 2rem;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;

  &.is-loaded {
    opacity: 1;
  }
}

.bond-header {
  background-image: linear-gradient(45deg, rgba($color__grey1, 0.3), $color__grey1);
  padding: 2rem 2rem;
  border-radius: 1rem 1rem 0 0;
  border-bottom: 1px solid $color__grey3;
}

.bond__heading {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  color: $color__primary3;
}

.bond__duration {
  font-size: 1.4rem;
  color: $color__grey6;
  margin-bottom: 0;
}

.bond__duration span {
  font-size: 1.8rem;
  color: $color__primary4;
}

.bond-type-container > div:first-of-type {
  border-bottom: 1px solid $color__grey3;
}

.bond-type__interest {
  padding: 1rem 2rem;
}

.bond-type__interest-percent {
  @include headings-font;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
  color: $color__primary5;
}

.bond-type__pa {
  font-size: 60%;
}

.bond-type__interest-paid {
  color: $color__primary5;
  font-size: 1.4rem;
  margin-bottom: 0;
}

.bond-type__return {
  padding: 1rem 2rem;
  color: $color__accent2-b;
  background-image: linear-gradient(to left, $color__accent2-g, rgba($color__accent2-g, 0.9));
}

.bond-type__return-amount {
  @include headings-font;
  font-size: 3rem;
  margin-bottom: 0;
}

.bond-type__return-text {
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 0;
}

.bond-type__invest-btn-wrapper {
  padding: 2rem;
  text-align: right;
}
