body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
  background-image: linear-gradient(to bottom, $color__grey2 40%, rgba(255, 255, 255, 0.5) 90%),
    url("../images/investing.svg");
  background-repeat: repeat, no-repeat;
  background-position: right bottom;
  background-size: auto, auto 50%;
  padding: 2rem;
}

.wrapper {
  max-width: 960px;
  height: 100%;
  // max-height: 100vh;
  margin: 0 auto;
}

.simple-bonds-logo {
  margin-top: 1rem;
  margin-bottom: 3rem;
  max-width: 300px;
}

.logo-graph-arrow {
  stroke: $color__accent2-d;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  fill: $color__accent2-d;

  .home & {
    animation: dash-animation-arrow 1.5s 3s linear both;
  }
}

.logo-graph-bar1,
.logo-graph-bar2,
.logo-graph-bar3 {
  stroke: $color__primary3;
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  fill: $color__primary3;

  .home & {
    animation: dash-animation-bars-text 1.5s 1.5s linear both;
  }
}

.logo-text path {
  stroke: $color__primary3;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  fill: $color__primary3;

  .home & {
    animation: dash-animation-bars-text 1.5s 1.5s linear both;
  }
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 3rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.1);
  border-radius: 2.2rem;
  position: relative;

  // &::after {
  //   display: block;
  //   content: "";
  //   height: 150px;
  //   width: 100%;
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   background-image: linear-gradient(to bottom, transparent, #fff 80%);
  // }
}

.bonds-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  // min-height: 500px;
  // max-height: 30vh;
  // overflow-y: auto;
  // margin-left: -3rem;
  // margin-right: -3rem;
  // padding: 3rem;
}

.bond {
  padding: 0 2rem 2rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.bond-header {
  background-image: linear-gradient(45deg, $color__grey2, $color__grey1);
  margin-left: -2rem;
  margin-right: -2rem;
  padding: 1rem 2rem;
  border-radius: 1rem 1rem 0 0;
}

.bond__heading {
  margin-bottom: 0.7rem;
  font-size: 1.8rem;
  color: $color__primary3;
}

.bond__duration {
  font-size: 1.4rem;
  color: rgba($color__primary1, 0.7);
}

.bond-type__return {
  font-size: 1.4rem;
  color: $color__accent2-b;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.bond-type__return-amount {
  font-size: 1.8rem;
  padding: 0.3em;
  color: $color__accent2-b;
  background-color: $color__accent2-g;
  margin: 0 2rem 3rem;
  border-radius: 2em;
}

.bond-type-container {
  display: flex;
  text-align: center;
}

.bond-type-container div:first-of-type {
  margin-right: 2rem;
}

.bond-type {
  flex: 1;
}

.bond-type__percent {
  @include headings-font;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: $color__primary5;
}

.bond-type__pa {
  font-size: 60%;
}

.bond-type__interest {
  color: $color__grey5;
  font-size: 1.4rem;
}
